
.calculator {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    background: pink;
    grid-gap: 10px 10px;
    padding: 10px;
    height: 500px;
    width: 400px;
}

.button {
    text-align: center;
    background: white;
}

.highlighted_button {
    text-align: center;
    background: grey;
}
  
.wide_button {
    grid-column: 1 / 3;
}

.output_container {
    grid-row: 1; 
    grid-column: 1/5; 
    position: relative;
}

.output_text {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    .calculator {
        width: 100%;
        background-color: green;
        margin: 0;
        height: 100vh;
        grid-template-rows: calc(100vh - 450px);
    }
}