
/* font https://www.1001fonts.com/calculator-fonts.html */
/* free for personal use */

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}


.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 130px;
}

.wide_button {
    grid-column: 1 / 3;
}

.output_container {
    grid-row: 1; 
    grid-column: 1/5; 
    position: relative;
    overflow: hidden;
    line-height: 1;

}

.button {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    font-weight: bold;
}

.output_text {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-family: digital-7;
    color: aqua;
    letter-spacing: 2px;
}


@media (min-width: 737px) {
    .calculator {
        margin: 10px auto;
        grid-gap: 15px 15px;
        padding: 60px 40px 40px 40px;
        height: 700px;
        width: 420px;
        border-radius: 25px;
        border: 1px solid black;
        background: lightgrey;
    }
    .output_container {
        font-size: 5rem;
        background-color: black;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .button {
        border-radius: 25px;
        background: white;
        box-shadow: 0 9px #999;
        margin-bottom: 9px;
        border: 1px solid black;
        font-size: 25px;
    }

    .button:hover {background-color: yellow}

    .button:active, .highlighted_button {
        background-color: yellow;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }    
}

@media (max-width: 737px), (max-device-width: 830px) and (orientation:landscape){
    .calculator {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    .button {
        background-color: lightsteelblue;
        color: white;
        font-size: 2rem;
        border: 1px solid black;
    }

    .highlighted_button {
        background-color: lightskyblue;

    }
    .output_text { 
        font-size: 5rem;
    }
    .output_container {
        background-color: black;

    }
}

@media (max-device-width: 830px) and (orientation:landscape) {
    .calculator {
        height: 100vh;
    }
}
